.containerFiglio {
    border: 1px solid red;
    text-align: center;
}

.containerGrid  {

    display: grid;
    /* background-color: #cb1616; */
    grid-template-columns: repeat(3 , 1fr); /** oppure 1fr 1fr 1fr */

    gap: 1.5%;
    margin-top: 2.3rem;
}

h3 {
    color: #f00;
}

